Repository wafflestudio/waffle-world, changes with the owners that .github/CODEOWNERS names for each.
All owners: @davin111, @wafflestudio/waffle-k8s-admin, @wafflestudio/snutt-server, @wafflestudio/snutt-frontend, @PFCJeong, @wafflestudio/sso, @wafflestudio/guam, @wafflestudio/seminar, @wafflestudio/interactive-web, @wafflestudio/music-sns, @wafflestudio/siksha

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

* @davin111 @wafflestudio/waffle-k8s-admin
apps/snutt-dev/ @wafflestudio/snutt-server
apps/snutt-dev/snutt-ev-web/ @wafflestudio/snutt-frontend
apps/snutt-prod/ @wafflestudio/snutt-server
apps/snutt-prod/snutt-ev-web/ @wafflestudio/snutt-frontend
apps/truffle-prod/ @davin111 @PFCJeong
apps/sso-dev/ @wafflestudio/sso
apps/guam/ @wafflestudio/guam
apps/seminar/ @wafflestudio/seminar
apps/webgam-dev/ @wafflestudio/interactive-web
apps/feelin-dev/ @wafflestudio/music-sns
apps/siksha-prod/ @wafflestudio/siksha

image tag
  apps/snutt-dev/snutt-timetable/snutt-timetable.yaml
  apps/snutt-prod/snutt-timetable/snutt-timetable.yaml
Owners: @wafflestudio/snutt-server

modify image tag
  apps/snutt-dev/snutt-timetable/snutt-timetable.yaml
  apps/snutt-prod/snutt-timetable/snutt-timetable.yaml
Owners: @wafflestudio/snutt-server

deploy snutt-timetable (#28)
  apps/snutt-dev/snutt-timetable/snutt-timetable.yaml
  apps/snutt-prod/snutt-timetable/snutt-timetable.yaml
  apps/templates/snutt-timetable-dev.yaml
  apps/templates/snutt-timetable.yaml
Owners: @wafflestudio/snutt-server, @davin111, @wafflestudio/waffle-k8s-admin

route /tables, /auth/register_local to snu4t
  apps/snutt-dev/snutt-core/snutt-core.yaml
Owners: @wafflestudio/snutt-server

Automated commit by ECR push (snutt-dev/snutt-timetable:12)
  apps/snutt-dev/snutt-timetable/snutt-timetable.yaml
Owners: @wafflestudio/snutt-server

change app project
  apps/templates/snutt-core-dev.yaml
  apps/values.yaml
Owners: @davin111, @wafflestudio/waffle-k8s-admin

Feature/route snu4t 1 (#31)
  apps/snutt-dev/snutt-core/snutt-core.yaml
  apps/templates/snutt-core-dev.yaml
  apps/values.yaml
Owners: @wafflestudio/snutt-server, @davin111, @wafflestudio/waffle-k8s-admin

Automated commit by ECR push (snutt-dev/snutt-timetable:13)
  apps/snutt-dev/snutt-timetable/snutt-timetable.yaml
Owners: @wafflestudio/snutt-server

add corsPolicy
  apps/snutt-dev/snutt-core/snutt-core.yaml
Owners: @wafflestudio/snutt-server

remove k8s suffix for prod domain (#29)
  apps/siksha-prod/siksha-api-server/siksha-api-server.yaml
Owners: @wafflestudio/siksha

change as reviewed
  apps/snutt-dev/snutt-core/snutt-core.yaml
Owners: @wafflestudio/snutt-server

[snu4t] feat: add corsPolicy (#32)
  apps/snutt-dev/snutt-core/snutt-core.yaml
Owners: @wafflestudio/snutt-server
